body {
  background-color:#EFECEC;
  min-height: 100vh;
}
/* logo space */
.logo{
     float: left;
     display:flex;
     width: 19.5%;
     background-color: white;
     padding-left: 5px;
     padding-right: 5px;
     border-bottom: 2px solid #0C2D57;
     border-right: 2px solid #0C2D57;
}
/* ectable */
.logo h3 {
   color: #0C2D57;
   padding-left: 5px;
   padding-right: 5px;
}
/* whole logo text */
.logo a{
    text-decoration: none;
    text-align:center;
}
/* logo line */
.logo hr{
    border-top: 7px double red;
    text-align: center;
    width:100%;
    margin-top:22px;
}
 /* social media below menu bar */
.social_media{
    float:right;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 5px;
}

/* navy list bar */
li {
    float: left;
    border-right:1px solid #bbb;
}
/* last anchor of the list */
li:last-child {
    border-right: none;
}
/* each anchor of the list */
li a {
  color: #EFECEC;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: verdana, sans-serif;
}
/* what happen when hover on a anchor */
li:hover{
    background-color:#5E5365;
}
/* home anchor */
.home{
    background-color: #FC6736;
    color: white;
}
/* home anchor hover */
.home:hover{
    background-color: #5E5365;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0C2D57;
}

/*********************************/
#choose_league{
    background-color:white;
    margin: 40px 400px 0px 400px;
    border: 1px solid black;
    padding: 20px;
}
#choose_league label{
    padding:10px;
    font-size: 18px;
}

/*********************************/
footer {
  text-align: center;
  padding: 3px;
  background-color: #FC6736;
  color: white;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
 /* social media below menu bar */
footer social_media{
    color:black;
}